# Mau /etc/hosts cho ca 3 may - THAY IP bang IP that (lay tu: hostname -I)
# Dan 3 dong duoi vao cuoi file /etc/hosts tren CA 3 may, GIONG NHAU.
192.168.43.11   node1
192.168.43.12   node2
192.168.43.13   node3
